@import "normalize.css/normalize.css";
@import "./common.css";

.layout {
  display: flex;
  height: 100vh;
}

.editors {
  width: 25%;
}

.view {
  width: 75%;
}

.editors,
.view {
  border: 1px solid #cccccc;
  margin: 10px;
  box-sizing: border-box;
}
